.cart-page{
    margin: 80px auto;
}
table{
    width:70%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: rgb(230, 215, 196);
    background: rgb(165, 130, 87);
    font-weight: normal;
}
td{
    padding: 10px 5px; 
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:  rgb(165, 130, 87);
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;   
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #87611c;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.cart-info{
    display:flex;
    direction: initial;
}
.small-cart-page{
    align-content: center;
}
