*{
    margin: 0px;
    padding: 0px;
    font-family:'Ysaeau', sans-serif; 
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.reviews-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-heading h1{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgb(241, 234, 225);
    color: rgb(125, 97, 36);
    padding: 10px 20px;
    border-radius: 10px;
}
.reviews-heading span{
    font-size: 1.3rem;
    color: rgb(125, 97, 36);
    margin-bottom: 10px;
    letter-spacing:2px;
    text-transform: uppercase;
}
.reviews-box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reviews-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba (0,0,0,0.1);
    background-color: rgb(252, 245, 231);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.profile-img{
    width: 50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: blueviolet;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: blue;
    font-size: 0.8rem;
}
.commento{
    color: rgb(116, 76, 8);
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: rgb(116, 76, 8);
}
.reviews-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media (max-width:1060px) {
    .reviews-box{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .reviews-box{
        width: 100%;
    }
    .reviews-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width: 340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .review{
        margin-top: 10px;
    }
}