*{
    padding: 2px;
    margin: 0px;
    box-sizing:border-box;
    border: 8px;
}
body {
    background :url(./IMAGES/plain.webp) repeat;   
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    font-family: 'Ysaeau', sans-serif;
}