*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
.row{
    background: rgb(239, 234, 221);
    border-radius: 30px;
    box-shadow: wheat;
    box-shadow: 12px 12px 22px;

}

.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login h1{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Luckiest Guy' cursive;
}
.inp{
    height: 40px;
    width: 70%;
    border:none;
    outline: none;
    border-radius: 20px;
    box-shadow: -46px -44px 85px 32px rgba(199,180,166,0.75);
    -webkit-box-shadow: -46px -44px 85px 32px rgba(199,180,166,0.75);
    -moz-box-shadow: -46px -44px 85px 32px rgba(199,180,166,0.75);
}
.btn1{
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(138, 114, 66);
    color: whitesmoke;
}
.btn1 :hover{
    background: pink;
    transition: 0.5s;
}
.fa-facebook{
    font-size: 2.5 rem;
    color: darkblue;
    cursor: pointer;
}
.fa-goggle{
    font-size: 2.5 rem;
    color: darkblue;
    cursor: pointer;
}

.fa-twitter{
    font-size: 2.5 rem;
    color: darkblue;
    cursor: pointer;
}
.fa-instagram{
    font-size: 2.5 rem;
    color: darkblue;
    cursor: pointer;
}
.fa-phone{
    font-size: 2.5 rem;
    color: rgb(130, 108, 66);
    cursor: pointer;
}


.book{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-weight: 400;
    color: rgb(9, 83, 88);
    letter-spacing: 1px;
}
.container-book{
    background-color: wheat;
    margin: 200px;
    box-shadow: 10px 15px 20px rgb(9, 83, 88);
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 20px;
}
.container-time{
    background-color: antiquewhite ;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}
.heading{
    font-size: 35px;
    text-transform: uppercase;
}
.heading-days{
    color: rgb(35, 119, 106);
    font-size: 30px;
}
.container-form{
    padding: 20px 0;
    margin: 0 auto;
    color: rgb(82, 54, 17);
}
.container-form field {
    display: grid;
    grid-row-gap: 20px;
}
.form-field{
    display: flex;
    justify-content: space-between;
}
input,select{
    padding: 10px 15px;
}
.form p{
    font-weight: 600;
}
.btn3{
    background-color: rgb(130, 108, 66);
    color: antiquewhite ;
    padding:10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius:100px;
    -moz-border-radius: 100px;
    -ms-border-radius:100px;
    -o-border-radius: 100px;
    box-shadow: 7px 10px 12px rgb(9, 83, 88); 
}
.btn3:hover{
    transform: scale(1.013);
}