*{
    padding: 2px; ;
    margin: 0;
    box-sizing: border-box;
    }

.navbar-shop{
    font-size: 3rem;
    color: rgb(9, 83, 88);
    font-family: 'Ysabeau', sans-serif;
    text-decoration: none;

}
.navbar-shop:hover{
    color: rgb(129, 95, 23);
}
.nav-link{
    margin-right: 15px ;
    margin-left: 15px ;
    color: rgb(129, 95, 23);
    font-family: 'Ysaeau', sans-serif;
    text-size-adjust:500px;
    -ms-flex-order: initial;
}
.nav-link.hover{
    color: rgb(129, 95, 23);
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 50px;
    outline: none;
    margin-right:-35px;
    border: 2px solid rgb(129, 95, 23);
}
