*{
    padding: 2px; ;
    margin: 0;
    box-sizing: border-box;
    }
    .navbar-shop{
        font-size: 3rem;
        color: rgb(9, 83, 88);
        font-family: 'Ysabeau', sans-serif;
        text-decoration: none;
    
    }
    .navbar-shop:hover{
        color: rgb(129, 95, 23);
    }
    .nav-link{
        margin-right: 15px ;
        margin-left: 15px ;
        color: rgb(129, 95, 23);
        font-family: 'Ysaeau', sans-serif;
        text-size-adjust:500px;
        -ms-flex-order: initial;
    }
    .nav-link.hover{
        color: rgb(129, 95, 23);
    }
    .search{
        height: 40px;
        width: 80%;
        border-radius: 50px;
        outline: none;
        margin-right:-35px;
        border: 2px solid rgb(129, 95, 23);
    }
    
    
    .btn1{
        height: 40px;
        width: 40%;
        outline: none;
        border: none;
        background: rgb(129, 95, 23);
        color: bisque;
        border-radius: 60px;
        font-weight: 700;
    }
    .btn1:hover{
        background-color:rgb(129, 95, 23);
        transition: 0.9s;
    }
        
    
*{
    margin: 0px;
    padding: 0px; 
    box-sizing: bo  rder-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.koopii{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.koopii h1{
    font-size: 50px;
}
body{
    background-color: rgb(244, 235, 220);
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color:#000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"" ;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    margin: 0 auto;
    background-color: #6c6240;
} 
.heading p{
    font-size: 18px;   
    color: #666;
    margin-bottom: 35px;

}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
}
.a{
    font-size: 15px;
    align-items: center;
    margin-left: 50px;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;   
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; 
}
.about-content p{
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    text-align: left;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color: #6c5440;

}
@media screen and (max-width: 768px;){
    .heading{
        padding: 0px 20px;
        
    }   
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom:0px ;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;

    }
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Ysaeau', sans-serif; 
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.reviews-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: rgb(241, 234, 225);
    color: rgb(125, 97, 36);
    padding: 10px 20px;
    border-radius: 15px;
}
.reviews-heading span{
    font-size: 1.3rem;
    color: rgb(125, 97, 36);
    margin-bottom: 10px;
    letter-spacing:2px;
    text-transform: uppercase;
}
.reviews-box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reviews-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba (0,0,0,0.1);
    background-color: rgb(252, 245, 231);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.profile-img{
    width: 50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: blueviolet;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: blue;
    font-size: 0.8rem;
}
.commento{
    color: rgb(116, 76, 8);
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.clients-comment p{
    font-size: 0.9rem;
    color: rgb(116, 76, 8);
}
.reviews-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media (max-width:1060px) {
    .reviews-box{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .reviews-box{
        width: 100%;
    }
    .reviews-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width: 340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .review{
        margin-top: 10px;
    }
}